<%title "Staff"%>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" class="nav nav-pills nav-stacked hidden-phone">
  <%=render 'shared/search'%>
  <%=render 'shared/start'%>
  <%=render partial: "shared/navmanage"%>
  <%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>Staff Database</h1>
<hr>
<input class="input-block-level">
<table class="table">
  <tr>
    <th>Name:</th>
  <th>Email Address:</th>
  <th>Phone Number:</th>
  <th>Title:</th>  
  </tr>
<%@staff.each do |s|%>
  <tr>
	<td><%=s.givenname + " " + s.surname%></td>
	<td><%=s.email%></td>
	<td><%=s.phone%></td>
  <td><%=s.title%></td>
  </tr>
<%end%>
</table>
</div><!--span8-->
</div><!--row-->