<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <p><%= f.label :surname %><br />
  <%= f.text_field :surname %></p>

  <p><%= f.label :givenname %><br />
  <%= f.text_field :givenname %></p>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>

  <p><%= f.label :school %><br />
  <%= f.text_field :school %></p>

  <p><%= f.label :school_year %><br />
  <%= f.text_field :school_year %></p>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
