<h1>Listing checkpoints</h1>

<table>
  <tr>
    <th>Checkpoint</th>
    <th>Lesson</th>
    <th>Description</th>
    <th>Videourl</th>
    <th>Objective</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkpoints.each do |checkpoint| %>
  <tr>
    <td><%= checkpoint.checkpoint %></td>
    <td><%= checkpoint.lesson_id %></td>
    <td><%= checkpoint.description %></td>
    <td><%= checkpoint.videourl %></td>
    <td><%= checkpoint.objective %></td>
    <td><%= checkpoint.position %></td>
    <td><%= link_to 'Show', checkpoint %></td>
    <td><%= link_to 'Edit', edit_checkpoint_path(checkpoint) %></td>
    <td><%= link_to 'Destroy', checkpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkpoint', new_checkpoint_path %>
