<%title "New Checkpoint"%>
<div class="row">
	<nav class="span3">
      <%=render partial: 'shared/logo'%>
      <ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
        <%=render partial: 'shared/start'%>
        <%=render partial: "shared/navmanage"%>
        <%=render partial: "shared/last"%>
      </ul>
  </nav><!--span3-->
<div class="span8 offset1">
<h1>New Checkpoint</h1>
<hr>
<%=render partial: "form"%>
</div><!--span8-->
</div><!--row-->

<%content_for :styles do%>
<%=stylesheet_link_tag "select2"%>
<%end%>

<%content_for :javascripts do%>
	<%=javascript_include_tag "select2"%>
	<script type="text/javascript">
	  jQuery(function($){
	      $('.e1').select2();
	  });
	</script>
<%end%>