<%title @checkpoint.checkpoint%>
<div class="row">
  <nav class="span3">
      <%=render partial: 'shared/logo'%>
      <ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
        <%=render partial: 'shared/start'%>
        <%=render partial: "shared/navmanage"%>
        <%=render partial: "shared/last"%>
      </ul>
  </nav><!--span3-->
  <div class="span9">
	  <h1><%=@checkpoint.checkpoint%></h1>
	  <p class="muted"><%=@checkpoint.lesson.lesson%></p>
	  <hr>
    <p>
      <b>Description:</b>
      <%= @checkpoint.description %>
    </p>

    <p>
      <b>Videourl:</b>
      <%= @checkpoint.videourl %>
    </p>

    <p>
      <b>Objective:</b>
      <%= @checkpoint.objective %>
    </p>


    <p>
      <b>Position:</b>
      <%= @checkpoint.position %>
    </p>
	<p>
		<b></b>
	</p>
    <%@checkpoint.questionanswers.each do |qa|%>
      <%=qa.question%> - <%=qa.answer%>
    <%end%>
    
    <%=render partial: "questionanswers/form"%>
  </div>
</div>