<p id="notice"><%= notice %></p>

<p>
  <b>Checkpoint:</b>
  <%= @checkpoint.checkpoint %>
</p>

<p>
  <b>Lesson:</b>
  <%= @checkpoint.lesson_id %>
</p>

<p>
  <b>Description:</b>
  <%= @checkpoint.description %>
</p>

<p>
  <b>Videourl:</b>
  <%= @checkpoint.videourl %>
</p>

<p>
  <b>Objective:</b>
  <%= @checkpoint.objective %>
</p>


<p>
  <b>Position:</b>
  <%= @checkpoint.position %>
</p>

<%@checkpoint.questionanswers.each do |qa|%>
  <%=qa.question%> - <%=qa.answer%>
<%end%>
<div class="row">
  <div class="span6">
    <%=render partial: "questionanswers/form"%>
  </div>
  <div class="span6">
    <%=render partial: "summaries/form"%>
  </div>
</div>

<%= link_to 'Edit', edit_checkpoint_path(@checkpoint) %> |
<%= link_to 'Back', checkpoints_path %>
