<div class="row">
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	<div class="span2 aligncenter">
		<h3 class="aligncenter">
			<%= link_to new_password_path(resource_name) do%>
				<span class="hidden-phone"><i class="icon-question-sign"></i><br/></span><small>Password</small>
			<% end %>
		</h3>
	</div><!--span2-->
	<% end -%>
	<div class="span2 aligncenter">
		<h3 class="aligncenter">
			<%= link_to :back, class:"salmon" do%>
				<span class="hidden-phone"><i class="icon-ban-circle"></i><br/></span><small>Cancel</small>
			<% end %>
		</h3>
	</div><!--span2-->
</div><!--row-->

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>