<h1>Welcome to Ghetto Land</h1>
<hr>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:data => {:persist => "garlic"}}) do |f| %>
<%= devise_error_messages! %>
<label class="control-label">Name</label>
<div class="controls controls-row">	
    <%= f.text_field :givenname, class: "span4 aligncenter", placeholder: "Given Name", required: "required", autofocus: "autofocus" %><%= f.text_field :surname, class: "span4 aligncenter", placeholder: "Surname", required: "required" %>
</div><!--controls-->
<label class="control-label">Email</label>
<div class="controls controls-row">
    <%= f.email_field :email, class: "span8 aligncenter", placeholder: "Email", required: "required"%>
</div><!--controls-->
<label class="control-label">Password</label>
<div class="controls controls-row">
    <%= f.password_field :password, class: "span4 aligncenter", placeholder: "Password", required: "required"%><%= f.password_field :password_confirmation, class: "span4 aligncenter", placeholder: "Confirm Password", required: "required"%>
</div><!--controls-->
<label class="control-label">Education</label>
<div class="controls controls-row">
    <%= f.text_field :school, id: "autocomplete_school", class: "input-block-level aligncenter", placeholder: "School", :data =>{:provide => "typeahead", :items => "4", :minLength => "3"}%>	
</div><!--controls-->
<label class="control-label">Information</label>
<div class="controls controls-row">
    <%= f.text_field :title, class: "span8 aligncenter", placeholder: "What are you working for us as?" %>
</div><!--controls-->
<div class="controls controls-row">
    <%= f.text_field :phone, class: "span8 aligncenter", placeholder: "Phone Number (For staff database)" %>
</div><!--controls-->
<%= f.submit "Sign Up", class: "btn btn-block"%>
<% end %>
<hr>
<%content_for :javascripts do%>
<script>
$(document).ready(function() {
        $('#autocomplete_school').typeahead({source: <%= File.read('app/assets/json/schools.json').html_safe %>});
    });
</script>
<%end%>

