<h1>Listing schedules</h1>

<table>
  <tr>
    <th>Checkpoint</th>
    <th>Lesson</th>
    <th>Subject</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.checkpoint %></td>
    <td><%= schedule.lesson %></td>
    <td><%= schedule.subject %></td>
    <td><%= schedule.date %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
