<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "marginbot0", :data => {:persist => "garlic"}}) do |f| %>
  <%=f.email_field :email, :placeholder => "Email", :class => "input-block-level", required: "required", autofocus: "autofocus"%>
  <%=f.password_field :password, :placeholder => "Password", :class => "input-block-level", required: "required"%>
  <div class="btn-group btn-block btn-group-vertical">
    <%=f.submit 'Submit', :class => "btn btn-block"%>
    <a class="btn btn-block btn-primary" href="<%=user_omniauth_authorize_path(:facebook)%>">Use Facebook</a>
  </div>
<% end %>