<li><%= link_to "Manage Subjects", usr_manage_path%></li>
<li><%=link_to "Add Topic", new_topic_path%></li>
<li><%=link_to "Add Lesson", new_lesson_path%></li>
<li><%=link_to "Add Checkpoint", new_checkpoint_path%></li>
<hr>
<li><%=link_to "Schedule", schedules_path%></li>
<li><a href="staff.html">Staff Database</a></li>