
<li><%=link_to "Subjects", subjects_path%></li>
<li><%=link_to "Add Subject", new_subject_path%></li>
<li><%=link_to "Add Topic", new_topic_path%></li>
<li><%=link_to "Add Lesson", new_lesson_path%></li>
<li><%=link_to "Add Checkpoint", new_checkpoint_path%></li>
<li><%=link_to "Add Q/A", new_questionanswer_path%></li>
<hr>
<li><a href="schedule.html">Schedule</a></li>
<li><a href="staff.html">Staff Database</a></li>