<li class="<%= current_page?(pages_team_path) ? "active" : "" %>">
  <%=link_to('The Team', pages_team_path)%>
</li>
<li class="<%= current_page?(pages_opportunities_path) ? "active" : "" %>">
  <%=link_to('Opportunities', pages_opportunities_path)%>
</li>
<li class="<%= current_page?(pages_partners_path) ? "active" : "" %>">
  <%=link_to('Partners', pages_partners_path)%>
</li>
<li class="<%= current_page?(pages_presskit_path) ? "active" : "" %>">
  <%=link_to('Press Kit', pages_presskit_path)%>
</li>
<li class="<%= current_page?(pages_contact_path) ? "active" : "" %>">
  <%=link_to('Contact Us', pages_contact_path)%>
</li>