<hr>
<% if user_signed_in? %>
	<li><%= link_to(current_user.fullname, usr_profile_path)%></li>
<%elsif staff_signed_in?%>
  <li><%= link_to(current_staff.fullname, usr_profile_path)%></li>
  <li><%= link_to('OL Command', usr_manage_path)%></li>
<% else %>
  <li><a id="login" href="#" class="hidden-phone" rel="popover" data-placement="right" data-trigger="click" data-html="true" data-content="<%=render :text => render('shared/login')%>" title="Continue Your Adventure!">Sign In</a></li>
  <li><%= link_to('Log In', new_user_session_path, :class => "visible-phone")%></li>
  <li><%= link_to('Get Started', new_user_registration_path)%></li>
<% end %>
<hr>