<%- title "Contact Us" %>
<%content_for :fbog do%>
<%= tag :meta, property: "og:description", content: "" %>
<%end%>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" class="nav nav-pills nav-stacked hidden-phone">
	<%=render 'shared/search'%>
	<%=render 'shared/start'%>
	<%=render partial: "shared/pages"%>
	<%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1 vcard" itemscope itemtype="http://data-vocabulary.org/Organization">
<h1 class="fn org" itemprop="name">openlectures</h1>
<h1 class="adr" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
	Location: <a href="http://en.wikipedia.org/wiki/The_Hitchhiker's_Guide_to_the_Galaxy" class="locality" target="_blank" itemprop="locality">ZZ9 Plural Z Alpha</a>
</h1>
<p class="lead geo">
	<span class="latitutde">
		<span class="value-title" title="1.3667"></span>
	</span>
	1.3667° N, 
	<span class="longitude">
		<span class="value-title" title="103.7500"></span>
	</span>
	103.7500° E
</p>
<hr>
<dl class="dl-horizontal">
	<dt>General Enquiries</dt>
	<dd><%= mail_to("hello@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Corporate Services</dt>
	<dd><%= mail_to("corporate@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Press and Media</dt>
	<dd><%= mail_to("samantha.ting@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Twitter</dt>
	<dd><a href="http://twitter.com/openlecturessg">@openlecturessg</a></dd>
</dl>
</div><!--span8-->
</div><!--row-->