<%- title "Contact Us" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
	<%=render 'shared/search'%>
	<%=render 'shared/start'%>
	<%=render partial: "shared/pages"%>
	<%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1 style="font-size:17em; line-height:0.8;"><i class="icon-globe"></i></h1>
<h1>Location: <a href="http://en.wikipedia.org/wiki/The_Hitchhiker's_Guide_to_the_Galaxy" target="_blank">ZZ9 Plural Z Alpha</a></h1>
<p class="lead">1.3667° N, 103.7500° E</p>
<hr>
<dl class="dl-horizontal">
	<dt>General Enquiries</dt>
	<dd><%= mail_to("hello@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Corporate Services</dt>
	<dd><%= mail_to("corporate@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Press and Media</dt>
	<dd><%= mail_to("samantha.ting@openlectures.org", nil, :encode => "javascript") %></dd>
	<dt>Twitter</dt>
	<dd><a href="http://twitter.com/openlecturessg">@openlecturessg</a></dd>
</dl>
</div><!--span8-->
</div><!--row-->