<%- title "Contact Us" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
	<%=render 'shared/search'%>
	<%=render 'shared/start'%>
	<%=render partial: "shared/pages"%>
	<%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1 style="font-size:17em; line-height:0.8;"><i class="icon-globe"></i></h1>
<h1>Location: <a href="http://en.wikipedia.org/wiki/The_Hitchhiker's_Guide_to_the_Galaxy" target="_blank">ZZ9 Plural Z Alpha</a></h1>
<p class="lead">1.3667° N, 103.7500° E</p>
<hr>
<dl class="dl-horizontal">
	<dt>General Enquiries</dt>
	<dd><a href='&#109;&#97;&#105;lto&#58;he&#108;l&#37;6F&#37;4&#48;&#37;6F%&#55;&#48;enlect%75res&#46;o&#114;g'>hello&#64;&#111;penl&#101;ctures&#46;org</a></dd>
	<dt>Corporate Services</dt>
	<dd><a href='mail&#116;&#111;&#58;co%72&#37;70%6Fr&#37;61te&#64;openlec&#116;&#117;&#114;e&#37;&#55;3&#46;o&#114;&#103;'>co&#114;&#112;ora&#116;e&#64;&#111;&#112;enl&#101;c&#116;&#117;res&#46;org</a></dd>
	<dt>Press and Media</dt>
	<dd><a href='&#109;ail&#116;&#111;&#58;&#37;73amantha%2Et&#105;%&#54;E%67&#64;o&#112;enlec&#37;74ur&#101;s&#37;2&#69;o%72g'>saman&#116;h&#97;&#46;&#116;ing&#64;o&#112;&#101;n&#108;ectu&#114;e&#115;&#46;org</a></dd>
	<dt>Twitter</dt>
	<dd><a href="http://twitter.com/openlecturessg">@openlecturessg</a></dd>
</dl>
</div><!--span8-->
</div><!--row-->