<%- title "Partners" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
	<%=render 'shared/start'%>
	<%=render 'shared/about'%>
	<%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<ul class="thumbnails">
	<li class="span8" style="margin-top:-5px;"><a class="thumbnail"><%=image_tag "partners.jpg"%></a></li>
</ul><!--thumbnails-->
<h1>We bring education to everyone.</h1>
<p class="lead">If there's a place for us in your organization's <abbr class="initialism" title="Corporate Social Responsibility">CSR</abbr> programme, or you'd just like to help, <a href='m&#97;&#105;lt&#111;&#58;%6&#56;e&#108;lo%40o%&#55;0&#37;6&#53;n&#108;&#101;c&#116;%&#55;5r&#101;%7&#51;&#46;&#111;rg'>we'd love to hear from you.</a></p>
<hr>
<p><span class="helvetica"><strong>open</strong>lectures</span> is supported by the following organizations:</p>
<ul class="nav nav-pills nav-stacked">
	<li><a href="http://www.edb.gov.sg/content/edb/en.html?cmpid=edb_en38">EDB Singapore</a></li>
	<li><a href="http://www.northeastcdc.org.sg/">Northeast CDC</a></li>
	<li><a href="http://www.nyc.pa.gov.sg/">National Youth Council</a></li>
	<li><a href="http://www.sgtee.com/">SGTee.com</a></li>
</ul>
</div><!--span8-->
</div><!--row-->