<div class="container">
<div class="row">
<nav class="span3">
<h1 class="insignia padbot20" style="font-size:7em;"><%=link_to "ol", root_path, class: "clean"%></h1>
<ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
	<%=render partial: 'shared/start'%>
	<%=render partial: 'shared/about'%>
	<hr>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>We believe that education should be free and accessible</h1>
<p class="lead">And that it should look damn good while we're at it.</p>
<hr>
<p><span class="helvetica"><strong>open</strong>lectures</span> provides free online lectures based on the Singapore syllabus. It was founded in 2011 by <a href="#linan">Qiu Linan</a> and <a href="#yitao">Zhang Yitao</a>, two students who strongly believed in making quality education free and accessible to every one.</p>
<p>Today, over a hundred staff and lecturers across the globe contribute their time and expertise to this effort. Everyone works for free, at nights, and on weekends, because we love what we do.</p>
<hr>

<div class="hidden-phone">
	<ul class="thumbnails">
	<%@thumbs.each do |thumb|%>
		  <li class="span2">
		    <a href="#" class="thumbnail" rel="popover" data-placement="top" data-trigger="hover" data-content=<%=thumb.gsub("app/assets/images/profile/","").gsub(".jpg","").capitalize%> data-original-title="Academic Dean">
		    	<%=image_tag thumb.gsub("app/assets/images/", "")%>
		    </a>
		  </li>
	<%end%>
	</ul>
</div><!--hidden-phone-->
<h1 class="aligncenter">Got something special? <%=link_to "Join Us!", pages_opportunities_path%></h1>
</div><!--span8-->
</div><!--row-->
</div><!--container-->