<%title "Subjects" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" class="nav nav-pills nav-stacked hidden-phone">
  <%=render 'shared/search'%>
  <%=render 'shared/start'%>
  <%=render partial: "shared/pages"%>
  <%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>Subjects</h1>
<p class="lead"><%=Checkpoint.all.count%> checkpoints in <%=Lesson.all.count%> lessons</p>
<hr>
<div class="row">
  <% @subjects.each do |subject|%>
    <div class="span4">
      <h3><%=link_to subject.subject, subject %></h3>
    </div><!--span4-->
  <%end%>
</div><!--row-->
</div><!--span8-->
</div><!--row-->