<%title "New Subject"%>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul id="navbar" class="nav nav-pills nav-stacked hidden-phone">
  <%=render 'shared/search'%>
  <%=render 'shared/start'%>
  <%=render partial: "shared/navmanage"%>
  <%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
<h1>New Subject</h1>
<hr>
<%=render partial: "form"%>
</div><!--span8-->
</div><!--row-->