<div class="row">
		<%=render partial: "shared/logo"%>
		<%=render partial: "shared/start"%>
		<%=render partial: "shared/navsubjects"%>
   </ul>
  </nav><!--span3-->
	<div class="span8 offset1">
	<h1><%=@subject.subject%></h1>
	<ul class="nav nav-pills" id="myTab">
		<li class="active"><a href="#seab" data-toggle="tab">SEAB Syllabus</a></li>
		<li><a href="#all" data-toggle="tab">Browse All</a></li>
	</ul>
	<div class="tab-content">
	<div class="tab-pane active fade in" id="seab">
		<%@subject.topics.each do |topic|%>
			<h3><%=topic.topic%></h3>
			<h6><small><%=topic.description%></small></h6>
			<ol>
			<%topic.lessons.each do |lesson|%>
				<%if lesson.is_sublesson%>
				<ul class="unstyled"><li><%=link_to lesson.lesson, lesson%></li></ul>
				<%else%>
				<li><%=link_to lesson.lesson, lesson%></li>
				<%end%>
			<%end%>
			</ol>
		<%end%>
	</div><!--tabpane-->
	<div class="tab-pane fade" id="all">
		<div class="row-fluid">
		<div class="span8">
		<ul class="unstyled list">
			<%@subject.checkpoints.each do |checkpoint|%>
			<li><%=link_to checkpoint.checkpoint, "#"%></li>
			<%end%>
		</ul><!--unstyled-->
	</div><!--span8-->
	<div class="span3 offset1 aligncenter hidden-phone">
		<h1><%=@subject.lessons.count%></h1>
		<p>lessons</p>
		<hr>
		<h1><%=@subject.checkpoints.count%></h1>
		<p>checkpoints</p>
	</div><!--span3-->
	</div><!--row-fluid-->
	</div><!--tabpane-->
	</div><!--tabcontent-->
	</div><!--span8-->
</div><!--row-->