<%=stylesheet_link_tag "chosen"%>
<%= simple_form_for(@lesson, html: {class: "form-horizontal"}) do |f| %>
    <%= f.input :lesson, input_html: {class:"input-xxlarge"}, placeholder: "Lesson" %>
    <%= f.association :topic, label_method: :topic, input_html: {class:"input-xxlarge chzn-select"}%>
    <%= f.input :is_sublesson, input_html: {class:"input-xxlarge"}%>
    <%= f.input :order, input_html: {class:"input-xxlarge"} %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">
      <span class='hidden-phone'><i class='icon-ok'></i> Create Lesson
    </button>
  </div>
<% end %>

<script type="text/javascript">
	jQuery(function($){
    	$('.chzn-select').chosen();
	});
</script>