<%= simple_form_for(@lesson, html: {class: "form-horizontal"}) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :lesson %>
    <%= f.input :topic_id %>
    <%= f.input :is_sublesson%>
    <%= f.input :order %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
