<div class="row">
	<nav class="span3">
      <%=render partial: 'shared/logo'%>
      <ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
        <%=render partial: 'shared/start'%>
        <%=render partial: "shared/navmanage"%>
        <%=render partial: "shared/last"%>
      </ul>
  </nav><!--span3-->
<div class="span8 offset1">
<h1>Edit Lesson</h1>
<hr>
<%=render partial: "form"%>
<h3>Checkpoints</h3>
<hr>
<ol id="sortable" data-update-url="<%= sort_checkpoints_url %>">
<%@lesson.checkpoints.each do |cp|%>
  <%=content_tag_for :li, cp do%>
  <span class="handle" style="cursor:move">[drag]</span>
  <%=cp.checkpoint%><small><a href=<%=edit_checkpoint_path(cp)%> class="salmon">(EDIT)<%=link_to "(DELETE)", checkpoint_path(cp), method: :delete, class: "salmon"%></a></small>
  <%end%>
<%end%>
</ol>
</div><!--span8-->
</div><!--row-->

<%=javascript_include_tag "jquery-ui-1.9.1.custom.min"%>
<%=javascript_include_tag "sortable.js"%>