
<%= stylesheet_link_tag  "reveal", :media => "all" %>

<div class="reveal">
	<div class="state-background"></div>
	<div class="slides">
		<section class="alignleft">
			<div class="row">
			<%=render partial: "shared/start"%>
			<%=render partial: "shared/navsubjects"%>
				</ul>
			</nav><!--span3-->
			<div class="span8 offset1">
			<h1><%=@lesson.lesson%></h1>
			<p class="lead"><small>by</small> <a href="#">Lydia Liu</a></p>
			<hr>
			<div class="row">
				<div class="span6">
			<h3>Checkpoints</h3>
			<ol>
				<%@lesson.checkpoints.each_with_index do |checkpoint,index|%>
					<li><a href="#" onclick=<%="Reveal.navigateTo(" + (index+1).to_s + ",0)"%>><%=checkpoint.checkpoint%></a></li>
				<%end%>
				<li><a href="#" onclick="Reveal.navigateTo(4,0)" class="salmon">Summary</a></li>
			</ol>
		</div><!--span6-->
		<div class="span2 aligncenter hidden-phone">
			<h3>6 min</h3>
			<h1><a href="#" onclick="Reveal.navigateNext()">Start</a></h1>
		</div><!--span2-->
			</div><!--span8-->
			</div><!--row-->
		</section>
		<section>
			<section>
				<div class="row-fluid alignleft">
				<div class="span4">
					<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
						<li><a href="#" onclick="Reveal.navigateTo(0,0);return false">Back to Start</a></li>
					</ul>
					<h5 class="muted">5.1</h5>
					<h2>Costs</h2>
					<hr>
					<p>Price discrimination may have negative effects on consumers and on society.</p>
					<div class="row-fluid margintop20p hidden-phone">
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateLeft();return false">Back</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateNext();return false">Question</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateRight();return false">Next</a></li>
							</ul>
						</div><!--span4-->
					</div><!--row-->
				</div><!--span4-->
				<div class="span8">
					<div class="videoWrapper">
					<iframe src="http://www.youtube.com/embed/GKQR2brSduo?rel=0&amp;theme=light&amp;color=white&amp;autoplay=0&amp;showinfo=0&amp;autohide=3&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
					</div><!--videoWrapper-->
				</div><!--span8-->
				</div><!--row-->
			</section>
			<section class="alignleft">
				<div class="row-fluid">
					<div class="span4">
						<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
							<li><a href="#" onclick="Reveal.navigateUp();return false">Back to Lecture</a></li>
						</ul>
						<h5 class="muted">5.1: Costs</h5>
						<h2>Question</h2>
						<hr>
						<p>What is the cost of price discrimination to society?</p>
						<ul class="nav nav-pills nav-stacked aligncenter margintop20p">
							<li><a href="#" onclick="Reveal.navigateNext();return false">Next</a></li>
						</ul>
					</div><!--span4-->
					<div class="span7 offset1">
						<p class="lead">Recall that price discrimination does not cause any additional deadweight loss to society because all consumer surplus lost is transferred to the producer. The main cost to society is where firms turn complacent and become x-inefficient.</p>
					</div><!--span7-->
				</div><!--row-->
			</section>
		</section>
		<section>
			<section>
				<div class="row-fluid alignleft">
				<div class="span4">
					<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
						<li><a href="#" onclick="Reveal.navigateTo(0,0);return false">Back to Start</a></li>
					</ul>
					<h5 class="muted">5.2</h5>
					<h2>Benefits</h2>
					<hr>
					<p>Price discrimination does not just benefit the firms; it can also benefit society.</p>
					<div class="row-fluid margintop20p hidden-phone">
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateLeft();return false">Back</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateNext();return false">Question</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateRight();return false">Next</a></li>
							</ul>
						</div><!--span4-->
					</div><!--row-->
				</div><!--span4-->
				<div class="span8">
					<div class="videoWrapper">
					<iframe src="http://www.youtube.com/embed/MRocUa77KPw?rel=0&amp;theme=light&amp;color=white&amp;autoplay=0&amp;showinfo=0&amp;autohide=3&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
					</div><!--videoWrapper-->
				</div><!--span8-->
				</div><!--row-->
			</section>
			<section class="alignleft">
				<div class="row-fluid">
					<div class="span4">
						<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
							<li><a href="#" onclick="Reveal.navigateUp();return false">Back to Lecture</a></li>
						</ul>
						<h5 class="muted">5.2: Benefits</h5>
						<h2>Question</h2>
						<hr>
						<p>Other than increased research and development, what is another possible benefit of price discrimination?</p>
						<ul class="nav nav-pills nav-stacked aligncenter margintop20p">
							<li><a href="#" onclick="Reveal.navigateNext();return false">Next</a></li>
						</ul>
					</div><!--span4-->
					<div class="span7 offset1">
						<p class="lead">Supplying to certain segments of the market that it was previously unprofitable to supply to, hence increasing consumer choice.</p>
					</div><!--span7-->
				</div><!--row-->
			</section>
		</section>
		<section>
			<section>
				<div class="row-fluid alignleft">
				<div class="span4">
					<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
						<li><a href="#" onclick="Reveal.navigateTo(0,0);return false">Back to Start</a></li>
					</ul>
					<h5 class="muted">5.3</h5>
					<h2>Fair Trade Coffee</h2>
					<hr>
					<p>Are you still with me? If you are, great! If not, it’s time for some coffee...</p>
					<div class="row-fluid margintop20p hidden-phone">
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateLeft();return false">Back</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateNext();return false">Question</a></li>
							</ul>
						</div><!--span4-->
						<div class="span4">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateRight();return false">Next</a></li>
							</ul>
						</div><!--span4-->
					</div><!--row-->
				</div><!--span4-->
				<div class="span8">
					<div class="videoWrapper">
					<iframe src="http://www.youtube.com/embed/_90yHk_D5X8?rel=0&amp;theme=light&amp;color=white&amp;autoplay=0&amp;showinfo=0&amp;autohide=3&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
					</div><!--videoWrapper-->
				</div><!--span8-->
				</div><!--row-->
			</section>
			<section class="alignleft">
				<div class="row-fluid">
					<div class="span4">
						<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
							<li><a href="#" onclick="Reveal.navigateUp();return false">Back to Lecture</a></li>
						</ul>
						<h5 class="muted">5.3: Fair Trade Coffee</h5>
						<h2>Question</h2>
						<hr>
						<p>What assumption did Starbucks make in order to price-discriminate profitably?</p>
						<ul class="nav nav-pills nav-stacked aligncenter margintop20p">
							<li><a href="#" onclick="Reveal.navigateNext();return false">Next</a></li>
						</ul>
					</div><!--span4-->
					<div class="span7 offset1">
						<p class="lead">That those people who care about fair trade are willing to pay more for their coffee.</p>
					</div><!--span7-->
				</div><!--row-->
			</section>
		</section>
		<section class="alignleft">
			<div class="row-fluid alignleft">
				<div class="span4">
					<ul class="nav nav-pills nav-stacked aligncenter marginbot20p hidden-phone">
						<li><a href="#" onclick="Reveal.navigateTo(0,0);return false">Back to Syllabus Outline</a></li>
					</ul>
					<h2>Summary</h2>
					<hr>
					<p>Congratulations, you're done! You now know everything listed on the right. If you're still fuzzy, go back and give it another go!</p>
					<div class="row-fluid margintop20p hidden-phone">
						<div class="span6">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateLeft();return false">Back</a></li>
							</ul>
						</div><!--span4-->
						<div class="span6">
							<ul class="nav nav-pills nav-stacked aligncenter">
								<li><a href="#" onclick="Reveal.navigateRight();return false">Next Lesson</a></li>
							</ul>
						</div><!--span-->
					</div><!--row-->
				</div><!--span4-->
				<div class="span7 offset1">
					<ul class="icons">
						<li><i class="icon-check"></i> How to elucidate the costs of price discrimination</li>
						<li><i class="icon-check"></i> How to elucidate the benefits of price discrimination</li>
						<li><i class="icon-check"></i> Be able to talk about how cafes price discriminate, as an example</li>
					</ul>
				</div><!--span7-->
			</div><!--row-->
		</section>
	</div><!--slides-->
	<!-- The navigational controls UI -->
	<aside class="controls">
		<a class="left" href="#"><i class="icon-caret-left icon-large"></i></a>
		<a class="right" href="#"><i class="icon-caret-right icon-large"></i></a>
		<a class="up" href="#"><i class="icon-caret-up icon-large"></i></a>
		<a class="down" href="#"><i class="icon-caret-down icon-large"></i></a>
	</aside>

	<!-- Presentation progress bar -->
	<!-- <div class="progress"><span></span></div> -->
	</div><!--reveal-->
<%= javascript_include_tag "head.min" %>
<%= javascript_include_tag "reveal.min" %>
<script>
	Reveal.initialize({
		history: true,
		rollingLinks: false,
		transition: 'linear',
		mouseWheel: false
	});
</script>