<%- title "Sign In" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
  <%=render 'shared/start'%>
  <%=render 'shared/pages'%>
  <%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
	<h1>Sign In</h1>
	<hr>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:name => "myform"} ) do |f| %>
	<%= f.email_field :email, class: "input-xxlarge aligncenter", placeholder: "Email", required: "required", autofocus: "autofocus"%><br>	
	<%= f.password_field :password, class: "input-xxlarge aligncenter", placeholder: "Password", required: "required"%><br/>

	<% if devise_mapping.rememberable? -%>
	<label class="checkbox inline" style="line-height:0.9;">
	<%= f.check_box :remember_me, class: "aligncenter", checked: "checked"%> Don't forget me
	</label>
	<% end -%>
	<%= f.submit "Sign In", class: "hidden"%>
	<% end %>
	<hr>
	<%= render "devise/shared/links" %>
</div><!--span8-->