<%- title "Sign In" %>
<div class="row">
<nav class="span3">
<%=render 'shared/logo'%>
<ul data-spy="affix" class="nav nav-pills nav-stacked hidden-phone">
	<%=render 'shared/search'%>
	<%=render 'shared/start'%>
	<%=render partial: "shared/pages"%>
	<%=render 'shared/last'%>
</ul>
</nav><!--span3-->
<div class="span8 offset1">
	<h1>Sign In</h1>
	<hr>
	<%=render 'shared/login'%>
	<hr>
	<h3>Need help?</h3>
	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
		<%= link_to "I can't remember my password!", new_password_path(resource_name) %>
	<% end %>	
	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <%= link_to "I didn't receive the confirmation email :(", new_confirmation_path(resource_name) %>
	<% end -%>
	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <%= link_to "I'm supposed to get my unlock instructions... ", new_unlock_path(resource_name) %>
	<% end -%>
</div><!--span8-->
</div><!--row-->
<%content_for :javascripts do%>
<script>
  $(document).ready(function() {
    $("input:password").chromaHash({bars: 4});
  });
</script>
<%end%>