<h1>Start Your Adventure</h1>
<hr>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), ) do |f| %>
<%= devise_error_messages! %>
<label class="control-label">A Replacement for "Heyy"</label>
<div class="controls controls-row">
    <%= f.text_field :givenname, class: "span6 aligncenter", placeholder: "Given Name", required: "required", autofocus: "autofocus" %><%= f.text_field :surname, class: "span2 aligncenter", placeholder: "Surname", required: "required" %>
</div><!--controls-->
<label class="control-label">So we can send messages about dubious pills</label>
<div class="controls controls-row">
    <%= f.email_field :email, class: "span8 aligncenter", placeholder: "Email", required: "required"%>
</div><!--controls-->
<label class="control-label">A little secret we share</label>
<div class="controls controls-row">
    <%= f.password_field :password, class: "span4 aligncenter", placeholder: "Password", required: "required"%><%= f.password_field :password_confirmation, class: "span4 aligncenter", placeholder: "Confirm Password", required: "required"%>
</div><!--controls-->
<label class="control-label">"The Facility"</label>
<div class="controls controls-row">
    <%= f.text_field :school, id: "autocomplete_school", class: "span6 aligncenter", placeholder: "School", :data =>{:provide => "typeahead", :items => "4", :minLength => "3"}%><%= f.number_field :school_year, class: "span2 aligncenter", placeholder: "Grad. Year eg. 2013", min: "2012" %>
</div><!--controls-->
<%= f.submit "Sign Up", class: "btn btn-link", style: "visibility:hidden;"%>
<% end %>
<hr>
<%= render "devise/shared/links" %>
<%content_for :javascripts do%>
<script>
$(document).ready(function() {
        $('#autocomplete_school').typeahead({source: <%= File.read('app/assets/json/schools.json').html_safe %>});
    });
</script>
<%end%>