<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Free, online lectures for anyone who wants to learn - because effort should decide success">
	<meta name="author" content="The openlectures Team">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end universal meta -->

	<!-- windows meta -->
	<!--[if lt IE 7]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="application-name" content="openlectures">
	<meta name="msapplication-tooltip" content="Free, online lectures for anyone who wants to learn">
	<meta name="msapplication-starturl" content="/">
	<![endif]-->
	<!-- end windows meta -->

	<!-- icons and humans.txt -->
	<link rel="dns-prefetch" href="/youtube.com">
	<%= favicon_link_tag 'favicon.ico'%>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="fluid-icon" href="/apple-touch-icon-144x144-precomposed.png" title="openlectures">
	<link rel="author" type="text/plain" href="humans.txt">
	<!-- end icons and humans.txt -->
  <title><%= content_for(:title) + " | "%>openlectures</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<%if notice || alert%>
	<div class="container">
		<%if notice%>
		<div class="alert alert-success">
			<%= notice %>
		</div>
		<%end%>
		<% if alert%>
		<div class="alert alert-error">
			<%= alert %>
		</div>
		<% end%>
	</div>
	<%end%>
	<div class="container">
		<%= yield %>
	<footer class="row" id="footer">
		<div class="span8 offset2 aligncenter">
			<hr>
			<p><span class="helvetica" style="font-size:0.9em;"><strong>open</strong>lectures</span> is designed and produced in <%=link_to "a small room", pages_team_path%> on the sunny island of Singapore</p>
		</div>
	</footer>
	</div><!--container-->
</body>
</html>
