<!DOCTYPE html>
<html>
<head>
  <title>openlectures</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if notice || alert%>
	<div class="container">
		<%if notice%>
		<div class="alert alert-success">
			<%= notice %>
		</div>
		<%end%>
		<% if alert%>
		<div class="alert alert-error">
			<%= alert %>
		</div>
		<% end%>
	</div>
	<%end%>
	<div class="container">
		<%= yield %>
<footer>
	<div class="row">
		<div class="span8 offset2 aligncenter">
			<hr>
			<p><small><span class="helvetica"><strong>open</strong>lectures</span></small> is designed and produced in <%=link_to "a small room", pages_team_path%> on the sunny island of Singapore</p>
		</div>
	</div>
</footer>
<%= javascript_include_tag "application" %>
</body>
</html>
