<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) + " | "%>openlectures</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<%if notice || alert%>
	<div class="container">
		<%if notice%>
		<div class="alert alert-success">
			<%= notice %>
		</div>
		<%end%>
		<% if alert%>
		<div class="alert alert-error">
			<%= alert %>
		</div>
		<% end%>
	</div>
	<%end%>
	<div class="container">
		<%= yield %>
	<footer class="row" id="footer">
		<div class="span8 offset2 aligncenter">
			<hr>
			<p><span class="helvetica" style="font-size:0.9em;"><strong>open</strong>lectures</span> is designed and produced in <%=link_to "a small room", pages_team_path%> on the sunny island of Singapore</p>
		</div>
	</footer>
	</div><!--container-->
</body>
</html>
