<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" xmlns:og="http://ogp.me/ns#"> <!--<![endif]-->
<head>
	<!-- universal meta -->
	<meta charset="utf-8">
	<title><%= content_for(:title) + ' | '%>openlectures</title>
	<meta name="description" content="Free, online lectures for anyone who wants to learn - because effort should decide success">
	<meta name="author" content="The Cookie Monster, hello@openlectures.org">
	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<%= javascript_include_tag "review"%>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta property="og:site_name" content="openlectures">
	<meta property="og:url" content="<%= request.url %>">
	<meta property="og:title" content="<%= content_for(:title) + '|'%> openlectures">
	<meta property="fb:app_id" content="238184899560410">
	<meta property="og:email" content="hello@openlectures.org">
	<%= csrf_meta_tags %>
	<!-- end universal meta -->

	<!-- windows meta -->
	<!--[if lt IE 7]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<%= stylesheet_link_tag "font-awesome-ie7", :media => "all" %>
	<meta name="application-name" content="openlectures">
	<meta name="msapplication-tooltip" content="Free, online lectures for anyone who wants to learn">
	<meta name="msapplication-starturl" content="/">
	<![endif]-->
	<!-- end windows meta -->

	<!-- icons and humans.txt -->
	<link rel="dns-prefetch" href="//youtube.com">
	<%= favicon_link_tag 'favicon.ico', :rel =>"shortcut icon", :type=> 'image/ico'%>
	<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel=>"apple-touch-icon-precomposed", :sizes=>"144x144", :type => 'image/png'%>
	<%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel=>"apple-touch-icon-precomposed", :sizes=>"114x114", :type => 'image/png'%>
	<%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel=>"apple-touch-icon-precomposed", :sizes=>"72x72", :type => 'image/png'%>
	<%= favicon_link_tag 'apple-touch-icon-57x57-precomposed.png', :rel=>"apple-touch-icon-precomposed", :sizes=>"57x57", :type => 'image/png'%>
	<%= favicon_link_tag 'apple-touch-icon.png', :rel=>"apple-touch-icon", :type => 'image/png'%>
	<%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel=>"fluid-icon", :title=>"openlectures", :type => 'image/png'%>
	<!-- end icons and humans.txt -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script>var _gaq=[['_setAccount','UA-26070822-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</head>
<body>
	<%if notice || alert%>
	<div class="container">
		<%if notice%>
		<div class="page-alert">
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
			<%= notice %>
		</div><!--alert-->
		</div><!--pagealert-->
		<%end%>
		<% if alert%>
		<div class="page-alert">
		<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
			<%= alert %>
		</div><!--alert-->
		</div><!--pagealert-->
		<% end%>
	</div>
	<%end%>
	<div id="wrap">
		<div class="container">
			<%= yield %>
		</div><!--container-->
		<div id="push"></div>
	</div><!--wrap-->
	<footer class="container aligncenter marginbot10p">
		<hr>
			<div class="element-center">
			<ul id="botnav" class="nav nav-pills marginbot0">
				<%=render 'shared/about'%>
				<li><a class="reView" href="http://openlectures.org">Switch View</a></li>
			</ul>
			</div><!--element-center-->
			<p><span class="helvetica" style="font-size:0.9em;"><strong>open</strong>lectures</span> is designed and produced in <%=link_to "a small room", pages_team_path%> on the sunny island of Singapore</p>
	</footer>
	<%= javascript_include_tag "application"%>
	<%= javascript_include_tag "enquire.min"%>
	<%= javascript_include_tag "tinynav"%>
	<%= yield :javascripts %>
	<script>
	enquire.register("screen and (max-width:768px)", {
    match : function() {
    	$('#navbar').removeAttr('data-spy');
	  }
	}).listen();
	$(function () {
    $('#navbar').tinyNav();
  });
	</script>
</body>
</html>
