<!DOCTYPE html>
<html>
<head>
  <title>Ol</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if notice || alert%>
	<div class="container">
		<%if notice%>
		<div class="alert alert-success">
			<%= notice %>
		</div>
		<%end%>
		<% if alert%>
		<div class="alert alert-error">
			<%= alert %>
		</div>
		<% end%>
	</div>
	<%end%>
	<div class="container">
		<%= yield %>
	</div>
</body>
<footer>
	<div class="container">
	<div class="row">
	<div class="span8 offset4 aligncenter">
		<hr>
		<p><small><span class="helvetica"><strong>open</strong>lectures</span> is designed and produced in <a href="/about" title="About Us">a small room</a> on the sunny island of Singapore</small></p>
	</div><!--span12-->
	</div><!--row-->
	</div>
</footer>
</html>
