<%=render 'shared/head'%>
<body>
	<div class="page-alert">
    <%= bootstrap_flash %>
    <!--[if lt IE 7]>
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.
    <![endif]-->
  </div><!--page-alert-->
	<%=yield%>
  <%= jquery_include_tag :google %>
  <%=javascript_include_tag "application"%>
  <%=javascript_include_tag "head.min"%>
  <%=javascript_include_tag "reveal.min"%>
  <%=yield :javascripts%>
</body>
</html>
