<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico'%>
  <title><%= content_for(:title) + " | "%>openlectures</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
</head>
<body>
	<%if notice || alert%>
  <div class="container">
    <%if notice%>
    <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <%= notice %>
    </div>
    <%end%>
    <% if alert%>
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
      <%= alert %>
    </div>
    <% end%>
  </div>
  <%end%>
		<%= yield %>
</body>
</html>
